*{
    box-sizing: border-box;
}
body{
    background-color: #C6B6B6;
    padding: 50px 0;
    font-family: 'Inter', sans-serif;
}

.main-menu{
    border-radius: 20px;
    background: #FFF;
    width: 360px;
    height: auto; 
    padding: 56px 22px 91px 22px;
    margin: auto;
}
button{
    background-color: transparent;
    border: none;
}
button:hover{
    border: 2 px solid;
    background-color: #EAE2B7;
}
h1{
    margin-top: 23px;
    margin-bottom: 17px;
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
input{
    display: block;
    width: 310px;
    padding: 15px;
    border-radius: 12px;
    background: #EFEFEF;
    border: none;
}
.menu-item{
    display: inline-block;
    margin-top: 22px;
    margin-right: 22px;
    text-align: center;
}
.menu-item-img-block{
    width: 74px;
    height: 74px; 
    border-radius: 12px;
    background: #EFEFEF;
    padding-top: 20px;
}
.menu-item:hover .menu-item-img-block{
    background: #EAE2B7; 
}
.menu-proposition{
    display: inline-block;
    margin-top: 25px;
    margin-right: 22px;
}
.menu-proposition-item{
    display: flex;
    text-align: center;
    border-radius: 10px;
    width: 316px;
    height: 88px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px #E5E5E5;
    margin-bottom: 17px;
    align-items: center;
}
.proposition-description h4{
    color: #003049;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 12px;
    margin-bottom: 0;
}
.proposition-description p{
    color: #D62828;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 8px;
}