*{
box-sizing: border-box;
}
body{
width: auto;
overflow-x: hidden;
margin:auto;
background-color: #F8FAF8;
font-family: 'Ubuntu', sans-serif;
}


.container-clear{
    margin:auto;
    width:100%;
    display:inline-block;
    margin-top:50px;
    align-items: center;
    text-align: auto;
}
.logo h1 {
display: inline;
color: #BC436A;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-left: 80px;
}
.logo{
float:left;
}
.circular-photo {
width: 812px;
height: 812px;
position: absolute;
top: 115px;
left: 820px;
border-radius: 50%;
}
nav a {
display: inline-block;
margin-right: 40px;
color: #767;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration: none;
}
nav a:hover {
color: #BC436A;
}
.menu {
    margin-left: 680px;
}
 .text-block h1{
color: #333;
font-size: 36px;
font-style: normal;
font-weight: 800;
line-height: normal;
width:600px;
height: 100px;
margin:0;
margin-top: 180px;
padding-left: 120px;
 }
 span{
    color: #BC436A;
 }
 .text-block p {
color: #7A7A7A;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal; 
width: 525px;
height: 75px;
margin:0;
margin-top: 23px;
padding-left: 120px;
}
 h3{
display: inline-block;
margin-left: 120px;
margin-top: 200px;
margin-bottom: 30px;
color: #767676;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
 }
 h3 ::before{
    content: "..//hmw5//img5/Shap.png";
    display: inline-block;
    width: 120px;
    height: 120px;
 }
 h3 ::after{
    content: "..//hmw5//img5/chevron-right.png";
    display: inline-block;
    width: 25px;
    height: 25px;

 }
 button {
    background-color: #386E41;
    width: 110px;
    height: 35px;
    border-radius: 4px;
    font-size: 16px;
    color: white;
    padding: 0px 8px; 
    border: none;
 }
    button a {
        text-decoration: none;
        color: #fff; 
        font-size: 16px; 
        margin: 0;
    }
 .filter-block-form button {
    background-color: #BC436A;
    width: 145px;
    height: 40px;
    border-radius: 4px;
    color: white;
}
.filter-block-form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100px;
    width: 1200px;
    background-color: #386E41;
}
.filter-block-form select {
border-bottom: solid 2px white;
border-top: none;
border-right: none;
border-left: none;
background-color: transparent;
color: white;
width: 150px;
margin-right: 40px;
margin-left: 50px;
}

.destinations a{
text-decoration: none;
color: #767676;
}
.destinations{
    margin-top: 50px;
    margin-left: 650px;
}
.destinations img{
    margin-left: 60px;
}
