*{
    box-sizing: border-box;
}
body{
    background-color: #ffffff;
    padding: 55;
    font-family: 'Roboto', serif;
    font-family: 'Nunito Sans', sans-serif;
}
.logo h1{
    display: flex;
    color: #000;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
}
.header{
    display: flex;
}
.main-menu{
display: inline-block;    
color: #000;
font-family: Nunito Sans;
font-size: 19px;
font-style: normal;
font-weight: 400;
letter-spacing: 1px;
}
.search{
margin-left: 285px;
display: inline-block;    
color: #000;
font-family: Nunito Sans;
font-size: 19px;
font-style: normal;
font-weight: 400;
letter-spacing: 1px;
}
.main-photo{
    display: flexbox;   
    width: 411px;
    height: 533px;
    flex-shrink: 0;
}
